@use '../abstract' as a;

.text-input {
  display: grid;
  gap: 0.5rem;
  position: relative;

  &__field {
    width: 100%;
    padding: 1rem 1.75rem;
    font-weight: 600;
    color: var(--clr-black);
    border-radius: 0.3rem;
    border: 2px solid var(--clr-neutral-color-light-grey);
    outline: none !important;

    &:focus {
      border: 2px solid var(--clr-primary-color-purple);
    }

    &--error,
    &--error:focus {
      border: 2px solid var(--clr-primary-color-redish-orange);
    }

    &--success{
      border: 2px solid var(--clr-primary-color-green);
    }
  }

  &__error-icon {
    display: none;
    position: absolute;
    right: 1.25rem;
    bottom: 2.90rem;
  }

  &__status {
    display: none;
    text-align: right;
    font-size: 0.75rem;
    color: var(--clr-primary-color-redish-orange);
  }
}