// Colors
$colors: (
  // Main Colors
        primary-color: (
                'redish-orange': #ff7979,
                'green': #38cc8b,
                'purple': #5e54a4,
        ),
        neutral-color: (
                'light-grey': #dedede,
                'grey': #bab7d4,
        ),
  // Other
        'background': #ff7979,
        'white': #ffffff,
        'black': #3d3b48,
);