// Colors
$colors: (
  // Main Colors
        primary-color: (
                'red-400': #ff7979,
                'green-300': #77e2b3,
                'green-500': #38cc8b,
                'green-600': #32b87d,
                'purple-500': #5e54a4,
        ),
        neutral-color: (
                'light-grey': #dedede,
                'grey': #bab7d4,
        ),
  // Other
        'background': #ff7979,
        'box-shadow': #3D3B484C,
        'white': #ffffff,
        'black': #3d3b48,
);